<app-navbar></app-navbar>
<div *ngIf="isHomePage" class="wrap-presentation">
  <div class="presentation">
    <div class="overlay">
      <div class="overlay-intro">
        <h2 class="slogan">Qua La Zampa</h2>

        <p>
          Benvenuti su Qua La Zampa. Ci occupiamo da sempre di accogliere animali abbandonati nel nostro rifugio,
          di dargli da mangiare, curarli e creare annunci per poter dare loro una famiglia che possa amarli come meritano.
          Il nostro obbiettivo è di svuotare il nostro rifugio e di assicurarci che lasciamo i nostri pelosetti in buone mani.
       </p>
      </div>

    </div>
  </div>
</div>

<router-outlet></router-outlet>
<app-footer></app-footer>
