

.container{
    min-height: calc(100vh - 175px);

  }

  .presentation {
    position: relative;
    background-image: url("https://img.freepik.com/free-photo/cute-pet-collage-isolated_23-2150007427.jpg?w=1800&t=st=1720782625~exp=1720783225~hmac=b5a7655d7757a4cc7c29f0f7909e77c653bc8e9f272719738be56a8bb383ea2a");
    background-size: cover;
    background-position: center;
    height: 600px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .overlay-intro{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 4rem;
  }

  .overlay p {
    font-size: 1.4rem;

    font-family: ObjectSans, sans-serif;
    margin: 0px 30px 500px 50px;
    color: #3a6cb5;
    // margin: 6rem 30rem 45rem 15rem;

  }

  .slogan {
    color: #3a6cb5;
    font-size: 3.5rem;
    text-align: center;
   //font-family: ObjectSans;
    font-weight: bold;
    //text-transform:uppercase;
    margin-bottom: 25px;

    }

