<div class="blog">
  <div class="blog-post">
    <div class="header">
      <h1 class="title">I cani!</h1>
    </div>
    <div class="image-container">
      <img src="https://www.adotta.me/uploads/slim/2024-06-11-100904-visione-blog.jpg" alt="I cani!">
    </div>
    <div class="content">
      <p>I cani sono i nostri fedeli compagni, sempre pronti a scodinzolare di gioia e a farci sentire amati. Ma vi siete mai chiesti come vedono il mondo? La vista dei cani è molto diversa dalla nostra, e oggi esploreremo insieme questa affascinante prospettiva. Scopriremo come i cani vedono di notte, come percepiscono i colori, come riconoscono le persone e affronteremo anche il tema delle malattie oculari come la cataratta. Pronti a immergervi negli occhi del vostro amico a quattro zampe?</p>

      <h2>Campo visivo</h2>
      <p>Partiamo dal campo visivo dei cani che è notevolmente diverso da quello umano, grazie infatti alla posizione laterale dei loro occhi sono in grado di coprire una visione a circa 240 gradi, molto maggiore rispetto ai nostri circa 180 gradi. Questa ampiezza visiva superiore riesce fargli movimenti e oggetti ai lati con maggiore efficacia rispetto agli esseri umani. Tuttavia, questa caratteristica presenta anche dei limiti: mentre noi riusciamo a focalizzare oggetti vicini con grande dettaglio, i cani riescono a percepire nitidamente un oggetto solo se si trova a una distanza di almeno 40 centimetri. Questo significa che, sebbene abbiano un ampio campo visivo e una migliore capacità di rilevare movimenti laterali, la loro visione da vicino è meno dettagliata.</p>

      <h2>Come vedono di notte</h2>
      <p>I cani sono molto più capaci di vedere al buio rispetto agli esseri umani. Questo grazie alla presenza di una maggiore quantità di cellule rod (bastoncelli) nella loro retina, che sono particolarmente sensibili alla luce bassa. Inoltre, i cani hanno uno strato riflettente dietro la retina chiamato tapetum lucidum, che migliora la loro visione notturna riflettendo la luce attraverso i fotorecettori. Questo è il motivo per cui gli occhi dei cani possono brillare al buio, creando quell'effetto luminescente che a volte notiamo.</p>

      <h2>Come vedono i colori</h2>
      <p>Contrariamente a ciò che si potrebbe pensare, i cani vedono i colori, non osservano quindi il mondo solo in bianco e nero. Tuttavia, la loro percezione dei colori è diversa dalla nostra. Mentre gli esseri umani hanno tre tipi di coni (cellule che rilevano il colore) che permettono di vedere una vasta gamma di colori, i cani ne hanno solo due. Questo significa che i cani vedono principalmente in sfumature di blu e giallo, e sono meno sensibili alle variazioni di rosso e verde, che appaiono più come tonalità di grigio.</p>

      <h2>Come vedono le persone</h2>
      <p>I cani riconoscono le persone principalmente attraverso l'olfatto, ma la vista gioca comunque un ruolo importante. I cani sono abili nel riconoscere i volti e i movimenti, e sono particolarmente bravi a captare segnali visivi come il linguaggio del corpo. Possono percepire i nostri gesti, la postura e anche le nostre espressioni facciali, il che li aiuta a capire il nostro stato emotivo. La loro visione periferica è anche migliore della nostra, permettendo loro di rilevare movimenti ai lati del campo visivo.</p>

      <h2>Proteggere la vista del cane</h2>
      <p>Proprio come gli esseri umani, anche i cani possono soffrire di vari problemi oculari con l'avanzare dell'età. La cataratta è una delle condizioni più comuni, che comporta l'opacizzazione del cristallino e può portare a una diminuzione della vista o addirittura alla cecità. Altri problemi oculari comuni includono il glaucoma, la degenerazione retinica e le infezioni oculari. È importante monitorare la salute degli occhi del nostro cane e consultare il veterinario se notiamo cambiamenti nella loro vista o nel comportamento.</p>
    </div>
  </div>

  <div class="blog-post">
    <div class="header">
    </div>
    <div class="image-container">
      <!-- Immagine del secondo post -->
      <img src="https://www.adotta.me/uploads/images/6668258e0a247_2024-06-11-102310-Dog-vison.thumb.jpg" alt="Gatti!">
    </div>
    <div class="content">
      <h2>Campo visivo</h2>
      <p>Partiamo dal campo visivo dei cani che è notevolmente diverso da quello umano, grazie infatti alla posizione laterale dei loro occhi sono in grado di coprire una visione a circa 240 gradi, molto maggiore rispetto ai nostri circa 180 gradi. Questa ampiezza visiva superiore riesce fargli movimenti e oggetti ai lati con maggiore efficacia rispetto agli esseri umani. Tuttavia, questa caratteristica presenta anche dei limiti: mentre noi riusciamo a focalizzare oggetti vicini con grande dettaglio, i cani riescono a percepire nitidamente un oggetto solo se si trova a una distanza di almeno 40 centimetri. Questo significa che, sebbene abbiano un ampio campo visivo e una migliore capacità di rilevare movimenti laterali, la loro visione da vicino è meno dettagliata.</p>

      <h2>Come vedono di notte</h2>
      <p>I cani sono molto più capaci di vedere al buio rispetto agli esseri umani. Questo grazie alla presenza di una maggiore quantità di cellule rod (bastoncelli) nella loro retina, che sono particolarmente sensibili alla luce bassa. Inoltre, i cani hanno uno strato riflettente dietro la retina chiamato tapetum lucidum, che migliora la loro visione notturna riflettendo la luce attraverso i fotorecettori. Questo è il motivo per cui gli occhi dei cani possono brillare al buio, creando quell'effetto luminescente che a volte notiamo.</p>

      <h2>Come vedono i colori</h2>
      <p>Contrariamente a ciò che si potrebbe pensare, i cani vedono i colori, non osservano quindi il mondo solo in bianco e nero. Tuttavia, la loro percezione dei colori è diversa dalla nostra. Mentre gli esseri umani hanno tre tipi di coni (cellule che rilevano il colore) che permettono di vedere una vasta gamma di colori, i cani ne hanno solo due. Questo significa che i cani vedono principalmente in sfumature di blu e giallo, e sono meno sensibili alle variazioni di rosso e verde, che appaiono più come tonalità di grigio.</p>

      <h2>Come vedono le persone</h2>
      <p>I cani riconoscono le persone principalmente attraverso l'olfatto, ma la vista gioca comunque un ruolo importante. I cani sono abili nel riconoscere i volti e i movimenti, e sono particolarmente bravi a captare segnali visivi come il linguaggio del corpo. Possono percepire i nostri gesti, la postura e anche le nostre espressioni facciali, il che li aiuta a capire il nostro stato emotivo. La loro visione periferica è anche migliore della nostra, permettendo loro di rilevare movimenti ai lati del campo visivo.</p>

      <h2>Proteggere la vista del cane</h2>
      <p>Proprio come gli esseri umani, anche i cani possono soffrire di vari problemi oculari con l'avanzare dell'età. La cataratta è una delle condizioni più comuni, che comporta l'opacizzazione del cristallino e può portare a una diminuzione della vista o addirittura alla cecità. Altri problemi oculari comuni includono il glaucoma, la degenerazione retinica e le infezioni oculari. È importante monitorare la salute degli occhi del nostro cane e consultare il veterinario se notiamo cambiamenti nella loro vista o nel comportamento.</p>

      <p>Per proteggere la vista del cane, è essenziale seguire alcune pratiche fondamentali. In primo luogo, mantenere l’occhio pulito è cruciale: un occhio sano non deve presentare arrossamenti. Per la pulizia, è sconsigliato l'uso di sostanze aggressive o salviette con profumi e alcool, poiché potrebbero causare infiammazioni. È quindi preferibile optare per prodotti naturali, come soluzioni saline sterili o infusi di camomilla, che puliscono delicatamente senza irritare.</p>

      <p>L'alimentazione gioca un ruolo altrettanto importante nella salute oculare del cane. Una dieta bilanciata e ricca di antiossidanti, vitamine (come la vitamina A e la vitamina E) e minerali aiuta a mantenere gli occhi del cane sani. Gli acidi grassi omega-3, presenti in alimenti come il pesce e l'olio di pesce, possono anche contribuire a ridurre l'infiammazione e a migliorare la salute della retina.</p>

      <p>Infine, è consigliabile considerare l'opzione di un'assicurazione sanitaria per il proprio cane. Le visite veterinarie regolari sono fondamentali per individuare precocemente eventuali problemi oculari. Con un’assicurazione, si possono coprire i costi delle cure necessarie, permettendo di intervenire tempestivamente in caso di patologie o infortuni agli occhi. Questo investimento può fare la differenza nel garantire al proprio cane una vista sana e una qualità di vita ottimale.</p>
    </div>
  </div>
  <a class="nav-link" routerLink="/blog2">Blog successivo</a>
</div>
